body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    background-color: black;
    font-family: sans-serif;
    color: whitesmoke;
}

.pique{
    width: 210px;
    height: 210px;
    background-image: url(tourvideB.png);
    margin-right: 10px;
    margin-top: 10px;
}

.piqueSlot{
    width: 210px;
    height: 210px;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    padding:0px -10px;
}

.carre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jeu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    

#p1{
    border-radius: 10px;
    height: 25px;
    background-color:rgb(250, 204, 0);
    text-align: center;
    margin-bottom: 15px;
    width: 30px;
}
#p2{
    border-radius: 10px;
    height: 25px;
    background-color:rgb(250, 204, 0);

    text-align: center;
    margin-bottom: 15px;
    width: 70px;
}
#p3{
    border-radius: 10px;
    height: 25px;
    background-color:rgb(250, 204, 0);

    text-align: center;
    margin-bottom: 15px;
    width: 100px;
}
#p4{
    border-radius: 10px;
    height: 25px;
    background-color:rgb(250, 204, 0);

    text-align: center;
    margin-bottom: 15px;
    width: 135px;
}
h1{
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
}

button{
    font-size: 20px;
    font-weight: bold;
    border-radius: 100px;
    padding: 15px 40px;
    border: 0;
    margin-top: 50px;
}